<section class='tab {{tabs.features.cssClass}} {{tabs.features.id}}' data-tab='{{tabs.features.id}}'
    data-group='{{tabs.features.group}}'>
    <div class="feature-section">
        {{!-- Core Features --}}
        <div class="segment-feature-group" data-segment-name="">
            {{> 'daggerheart.inventory-items'
            title="Core Features"
            type='feature'
            collection=@root.features
            canCreate=true
            showActions=true
            hideContextMenu=false
            }}
        </div>

        {{!-- Segment Features --}}
        {{#each segmentFeatureGroups as |group|}}
        <div class="segment-feature-group" data-segment-name="{{group.segmentName}}" style="margin-top: 15px;">
            {{> 'daggerheart.inventory-items'
            title=group.label
            type='feature'
            collection=group.features
            canCreate=false
            hideContextMenu=true
            showActions=true
            }}
        </div>
        {{/each}}
    </div>
    <div class="fb-cod-note">
        <i class="fa-solid fa-circle-info"></i>
        <div class="note-content">
            <h4>Please Note</h4>
            <p>To edit a segments features, you need to edit the segment on the segment tab.</p>
        </div>
    </div>
</section>